body {
    background-image: url('background-large.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: scroll;
}

@media (max-width: 600px) {
    body {
        background-image: url('background-small.jpg');
        background-position: top;
    }
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

p {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    box-shadow: 2px 2px 4px #000;
}

a:link {
    color: yellow; /* 未访问的链接 */
}

a:visited {
    color: red; /* 已访问的链接 */
}

a:hover {
    color: blue; /* 鼠标悬停在链接上时 */
}

a:active {
    color: blue; /* 链接被点击的瞬间 */
}

/* a[href='https://l8576100w7.vicp.fun'] {
    color: yellow;
} */